<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Total</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Ford</td>
                <td>Focus</td>
                <td>10</td>
                <td>
                    <button appButton>Editar</button>
                    <button appButton>Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>