<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Total</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @for (car of cars; track car.id) {
                <tr>
                    <td>{{ car.id }}</td>
                    <td>{{ car.brand }}</td>
                    <td>{{ car.model }}</td>
                    <td>{{ car.total }}</td>
                    <td>
                        <button appButton>Editar</button>
                        <button appButton>Eliminar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>